#emerald-container {
    position: absolute;
    height: 99%;
    width: 40%;
    top: 0;
    left: 0;
    border: 1px solid black;
    color: white;
}
#volume-control-div {
    cursor: url('./images/cur2.png') 5 0, pointer;
}
.oldlink {
    cursor: url('./images/cur2.png') 5 0, pointer;
}
#byMe {
    position: absolute;
    bottom: 0;
    left: 0;
}
#downloadFolder {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0px, -100%);
}
.oldlink:hover {
    background-color: lime;
}
#option-container {
    position: absolute;
    height: 99%;
    width: 19.8%;
    top: 0;
    left: 40%;
    border: 1px solid black;
}
.sudolink {
    text-decoration: underline;
    color: blue;
    cursor: url('./images/cur2.png') 5 0, pointer;
}
#credits-div {
    position: absolute;
    top: 20px;
    width: calc(100% - 1px);
    border: 1px solid black;
    background: rgba(255,255,255,0.5);
}
#settings-div {
    position: absolute;
    top: 20px;
    width: calc(100% - 1px);
    border: 1px solid black;
    background: rgba(255,255,255,0.5);
}
#tooltip {
    z-index: 100;
    position: absolute;
    top: 25;
    left: 25;
    width: 250px;
    word-wrap:normal;
    border: 1px solid black;
    background: rgba(255,255,255,0.8)
}
#modcheck-div {
    position: absolute;
    top: 20px;
    width: calc(100% - 1px);
    border: 1px solid black;
    background: rgba(255,255,255,0.5);
}
#download-div {
    position: absolute;
    top: 20px;
    width: calc(100% - 1px);
    border: 1px solid black;
    background: rgba(255,255,255,0.5);
}
#emerald-count-display {
    width: 100%;
    text-align: center;
}
#shop-container {
    position: absolute;
    height: 75%;
    width: 100%;
    top: 24%;
    left: 0;
    border: 1px solid black;
    overflow-y: scroll;
}
#su-container {
    left: 59.8%;
    border: 1px solid black;
    width: 41%;
    height: 99.8%;
    top: 0;
    position: absolute;
}
#upgrades-container {
    border: 1px solid black;
    position: absolute;
    left: 0;
    top: 5%;
    height: 19%;
    width: 100%;
    overflow-x: scroll;
}
.shop-item {
    width: 99%;
    height: 80px;
    border: 1px solid black;
    cursor: url('./images/cur2.png') 5 0, pointer;
    background: rgba(255,255,255,0.5);
}
.upgrade-item {
    width: 99%;
    border: 1px solid black;
    height: 50px;
    background: rgba(255,255,255,0.5);
    cursor: url('./images/cur2.png') 5 0, pointer;
}
.upgrade-item:hover {
    background: linear-gradient(to left, rgba(255,255,255,0.5), rgba(185, 255, 185, 1))
}
.shop-item:hover {
    background: linear-gradient(to left, rgba(255,255,255,0.5), rgba(185, 255, 185, 1))
}
#modcheck-button {
    width: 100%;
    height: 30px;
    max-width: 90px;
    transition: max-width 120ms ease-out;
}
#modcheck-button:hover {
    max-width: 150px;
}
#emerald:hover {
    filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.2));
}
#emerald {
    width: 100%;
    height: 100%;
    position: absolute;
    max-width: 300px;
    max-height: 200px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: url('./images/cur2.png') 5 0, pointer !important;
    -webkit-transition: max-width 120ms cubic-bezier(0.1, 0.9, 1, 1), max-height 120ms cubic-bezier(0.1, 0.9, 1, 1), filter 240ms ease-out;
    -moz-transition: max-width 120ms cubic-bezier(0.1, 0.9, 1, 1), max-height 120ms cubic-bezier(0.1, 0.9, 1, 1), filter 240ms ease-out;
    transition: max-width 120ms cubic-bezier(0.1, 0.9, 1, 1), max-height 120ms cubic-bezier(0.1, 0.9, 1, 1), filter 240ms ease-out;
}
#emerald-count-display {
    font-size: 30;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#emerald-per-second-display {
    font-size: 25;
    position: absolute;
    top: 10%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}
#emerald-per-click-display {
    font-size: 25;
    position: absolute;
    top: 15%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.checkbox {
    cursor: url('./images/cur2.png') 5 0, pointer;
}
#exploit-close {
    position: absolute;
    top:0;
    width: 30px;
    left: 100%;
    transform: translate(-30px, 0px);
}
#rich-div {
    position: absolute;
    bottom: -600;
    width: 100%;
    left: 0;
    z-index: -500;
}
#exploit-container {
    z-index: 99;
    background: rgba(255,255,255,0.5);
    border: black 1px solid;
    width: 400px;
    position: absolute;
    top:0;
    left:0;
}
#credits {
    width: 100%;
    height: 30px;
    max-width: 90px;
    transition: max-width 120ms ease-out;
}
#credits:hover {
    max-width: 150px;
}
@keyframes up {
    from{}
    to{top: 69px;}
}
#settings {
    height: 30px;
    width: 100%;
    max-width: 90px;
    transition: max-width 120ms ease-out;
}
#download-enter {
    height: 30px;
    width: 100%;
    max-width: 90px;
    transition: max-width 120ms ease-out;
}
#download-enter:hover {
    max-width: 150px;
}
#settings:hover {
    max-width: 150px;
}
button {
    cursor: url('./images/cur2.png') 5 0, pointer;
}
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    background: url('https://thumbs.dreamstime.com/b/old-stone-background-texture-cave-wall-rusty-pattern-scratched-marks-grey-ancient-rock-levels-stripes-relief-90189116.jpg');
    cursor: url('./images/cur1.png') 0 0, pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Thanks to people at stackoverflow for help on disabling selection! */
}
#popup {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 10000;
}